@font-face {
  font-family: "iconfont"; /* Project id 3611487 */
  src: url('iconfont.woff2?t=1661503794822') format('woff2'),
       url('iconfont.woff?t=1661503794822') format('woff'),
       url('iconfont.ttf?t=1661503794822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon2:before {
  content: "\e624";
}

.icon-zhisongdaojia:before {
  content: "\e64e";
}

.icon-shengxian:before {
  content: "\e630";
}

.icon-chujingchaoshi:before {
  content: "\e886";
}

.icon-lingquanzhongxin:before {
  content: "\e8e7";
}

.icon-chongzhijiaofei:before {
  content: "\e700";
}

.icon-quanqiugou:before {
  content: "\e6ee";
}

.icon-temai:before {
  content: "\e650";
}

.icon-fushi:before {
  content: "\e7ec";
}

.icon-quanbu:before {
  content: "\e614";
}

.icon-daohang:before {
  content: "\e63b";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-shouye1:before {
  content: "\e61b";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e818";
}

